.links{
  margin: 2rem;
  
}

.btn{
  text-decoration: none;
  padding: 5px 15px;
  width: 20%;
  max-width: 8rem;
  height: 1.8rem;
  background-color: #10403B;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  border: none;
  border-radius: 6px;
  margin: 2rem;
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
}