.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.App-header {
  background-color: #D5EFF2;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #263B40;
}
